#perfilimg{
  border-radius: 10px;
  margin-top: 18px;
}

img{
  width: 60%;
}

#social img{
  width: 100%;
}

#picture img{
  width: 100%;
}

#slogan{
  color: white;
}

#jla img{
  width: 30%;

.personal1{
margin-top: 100px;
}
.personal{
margin-top: 25px;
}

p{
  text-align: justify;
}
